<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<link rel="icon" href="/uploads/<%=setting[0].dark_img%>" type="image/x-icon" >
 
<title>
    <%= setting[0].site_titel %>
</title>
 

<link  href="/css/css2.css"  rel="stylesheet"  type="text/css">

<link rel="stylesheet" type="text/css" href="/css/vendors/fontawsome-new.css">
 
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="/css/vendors/feather-icon.css">
<link rel="stylesheet" type="text/css" href="/css/vendors/scrollbar.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/vendors/animate.css"> -->
 
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="/css/vendors/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/vendors/datatables.css">

<!-- App css-->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link id="color" rel="stylesheet" href="/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="/css/responsive.css">


<link rel="stylesheet" href="/css/toastr.min.css" />
<script src="/js/tostify/jquery-1.9.1.min.js" hidden></script>
<script src="/js/tostify/js-toastr.js"></script>

 
<style>
    .tooltip .tooltip-inner {
        background-color: #1e2538;
        color: #ffffff;
        opacity: 1;
        border-radius: 5px;
    }

 
    .tooltip.bs-tooltip-top .tooltip-arrow:before {
        border-left-color: transparent;
        border-top-color: #1e2538;
    }

    .tooltip.bs-tooltip-end .tooltip-arrow:before {
        border-left-color: transparent;
        border-right-color: #1e2538;
    }

    .dataTables_wrapper button {
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        border-radius: 14px !important;
    }

    img.img-fluid.table-avtar.rounded-circle.ms-2 {
        width: 30px !important;
        height: 30px !important;
        display: inline-block;
        object-fit: cover;
    }

    .greeting-user .img-fluid.rounded-circle {
        width: 150px !important;
        height: 150px !important;
        display: inline-block;
        object-fit: cover;
    }

    .custom-card .card-profile img {
        height: 110px;
        padding: 7px;
        background-color: #f6f8fc;
        z-index: 1;
        position: relative;
        object-fit: cover;
        width: 110px;
        display: inline-block;
    }
</style>